.text-gray {
    color: #bfbfbf !important;
}

.bg-warning {
    background-color: #ffbc34 !important;
    border-color: #ffbc34 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.bg-green {
    background-color: #50cd89 !important;
    border-color: #50cd89 !important;
}

.form-control-solid {
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important;
    color: #5e6278 !important;
}

.ps-15 {
    padding-left: 3.75rem !important;
}

/* .btn {
    height: 2.6rem !important;
} */
/* .btn-icon {
    width: 2.8rem !important;
} */
