.form-control-solid {
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important;
    padding-left: 4rem !important;
}

.ps-15 {
    padding-left: 3.75rem !important;
}

.btn-icon {
    width: 2.8rem !important;
    height: 2.6rem !important;
}
