$blue: "#009ef7";
$yellow: "#ffbc34";
$gray: "#bfbfbf";
$light-gray: "#f8f9fa";
$dark-gray: "#5e6278";
$green: "#50cd89";
$solid: "#f5f8fa";


.text-primary {
    color: $blue !important;
}

.text-gray {
    color: $gray !important;
}

.bg-primary {
    background-color: $blue !important;
    border-color: $blue !important;
}

.bg-warning {
    background-color: $yellow !important;
    border-color: $yellow !important;
}

.bg-light {
    background-color: $light-gray !important;
    border-color: $light-gray !important;
}

.bg-green {
    background-color: $green !important;
    border-color: $green !important;
}

.btn {
    height: 2.6rem !important;
    :hover {
        border-color: white !important;
    }
}

.btn-icon {
    width: 2.8rem !important;
}

.form-control-solid {
    background-color: $solid !important;
    border-color: $solid !important;
    color: $dark-gray !important;
    transition: color .2s ease,background-color .2s ease !important;
}

.ps-15 {
    padding-left: 3.75rem !important;
}

.border-1 {
    border-radius: .5rem !important;
}
